@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//Primary
$very-dark-blue : hsl(233, 47%, 7%); //main background
$dark-desaturated-blue : hsl(244, 38%, 16%); //(card background)
$soft-violet: hsl(277, 64%, 61%); //(accent)

//Neutral
$white: hsl(0, 0%, 100%); // main heading, stats
$slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75); // main paragraph
$slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6); //(stat headings)

//Body copy
$font-size: 15px; 

//Font
$inter: 'Inter', sans-serif;
$lexend-deca: 'Lexend Deca', sans-serif;

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: $very-dark-blue;
    font-size: $font-size;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    .info-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: clamp(200px, 90%, 500px);
        padding: 5% 0 5% 0;
        border-radius: 0 0 10px 10px;
        background-color: $dark-desaturated-blue;
        &__header{
            color: $white;
            width: 90%;
            font-family: $lexend-deca;
            font-size: 2em;
            text-align: center;
            &--violet{
                color: $soft-violet;
            }
        }
        &__description{
            color: $slightly-transparent-white-p;
            width: 90%;
            position: relative;
            bottom: 1em;
            font-size: 1.05em;
            line-height: 1.5;
            font-family: $inter;
            text-align: center;
        }
        &__stats{
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        &__stat{
            line-height: 1.5;
            &--stat-number{
                color: $white;
                font-family: $inter;
                text-align: center;
            }
            &--stat-description{
                color: $slightly-transparent-white-h;
                text-align: center;
                text-transform: uppercase;
                font-family: $inter;
            }
        }
    }
    .img-section{
        width: clamp(200px, 90%, 500px);
        position: relative;
        &__img-desktop{
            display: none;
        }
        &__img-mobile{
            display: block;
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
        &::after{
            content: '';
            border-radius: 10px 10px 0 0;
            position: absolute;
            background-color: $soft-violet;
            opacity: 0.5;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        } 
    }
}
@media (min-width: 1440px){
    body{
        align-items: center;
    }
    main{
        flex-direction: row;
        .info-section{
            padding: 4%;
            min-width: 600px;
            min-height: 412.95px;
            border-radius: 10px 0 0 10px;
            &__header{
                font-size: 2.3em;
                text-align:start;
            } 
            &__description{
                font-size: 1.1em;
                text-align:start;
                bottom: 0.5em;
            }
            &__stats{
                flex-direction: row;
                justify-content: space-between;
            }
            &__stat{
                &--stat-number{
                    text-align:start;
                }
            }
        }
        .img-section{
            min-width: 500px;
            &__img-desktop{
                width: 100%;
                border-radius: 0 10px 10px 0;
                display: block;
            }
            &__img-mobile{
                display: none;
            }
            &::after{
                border-radius: 0 10px 10px 0;
            }
        }
    }
}
