@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #090b1a;
  font-size: 15px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

main .info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: clamp(200px, 90%, 500px);
  padding: 5% 0 5% 0;
  border-radius: 0 0 10px 10px;
  background-color: #1b1938;
}

main .info-section__header {
  color: white;
  width: 90%;
  font-family: "Inter", sans-serif;
  font-size: 2em;
  text-align: center;
}

main .info-section__header--violet {
  color: #aa5cdb;
}

main .info-section__description {
  color: rgba(255, 255, 255, 0.75);
  width: 90%;
  position: relative;
  bottom: 1em;
  font-size: 1.05em;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  text-align: center;
}

main .info-section__stats {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main .info-section__stat {
  line-height: 1.5;
}

main .info-section__stat--stat-number {
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
}

main .info-section__stat--stat-description {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

main .img-section {
  width: clamp(200px, 90%, 500px);
  position: relative;
}

main .img-section__img-desktop {
  display: none;
}

main .img-section__img-mobile {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

main .img-section::after {
  content: '';
  border-radius: 10px 10px 0 0;
  position: absolute;
  background-color: #aa5cdb;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 1440px) {
  body {
    align-items: center;
  }
  main {
    flex-direction: row;
  }
  main .info-section {
    padding: 4%;
    min-width: 600px;
    min-height: 412.95px;
    border-radius: 10px 0 0 10px;
  }
  main .info-section__header {
    font-size: 2.3em;
    text-align: start;
  }
  main .info-section__description {
    font-size: 1.1em;
    text-align: start;
    bottom: 0.5em;
  }
  main .info-section__stats {
    flex-direction: row;
    justify-content: space-between;
  }
  main .info-section__stat--stat-number {
    text-align: start;
  }
  main .img-section {
    min-width: 500px;
  }
  main .img-section__img-desktop {
    width: 100%;
    border-radius: 0 10px 10px 0;
    display: block;
  }
  main .img-section__img-mobile {
    display: none;
  }
  main .img-section::after {
    border-radius: 0 10px 10px 0;
  }
}
